<form method="POST" action="/new" class="flex flex-col gap-6">
  <div class="flex w-full justify-between">
    <h1>Create Message</h1>
    <i data-lucide="x"></i>
  </div>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-1">
      <label for="author">Name</label>
      <input
        type="text"
        name="author"
        id="author"
        placeholder="Enter your name"
        required
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="message">Message</label>
      <textarea
        name="message"
        id="message"
        placeholder="Enter your message"
        required
      ></textarea>
    </div>
    <div class="flex w-full justify-between">
      <a href="/" class="p-2">Close</a>
      <button type="submit" class="p-2">
        <i data-lucide="send"></i>Send Message
      </button>
    </div>
  </div>
</form>
