<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Message Board</title>
  </head>
  <body class="flex flex-col gap-4">
    <div class="flex w-full justify-between">
      <h1>Message Board</h1>
      <p><i data-lucide="users"></i><%=messages.length%> messages</p>
    </div>
    <a href="/new" class="flex gap-2 p-2"><i data-lucide="plus"></i>Add Message</a>
    <div class="flex flex-col gap-4">
      <% messages.forEach((msg,index) => { %>
        <%- include("msgCard", {msg, index});%>
      <% }); %>
    </div>
    <%- include("lucide") %>
  </body>
</html>
