<div className="flex gap-4 p-3">
    <img src="" alt="">
    <div className="flex flex-col gap-4"">
        <div className="flex gap-2">
            <p><%= name %></p>
            <p><%= date %></p>
        </div>
        <p><%= message %></p>
    </div>
</div>